<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Analisa Produk</h5>
            <div class="d-flex align-items-center w-100 gap-2">
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Tipe</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.tipe"
                    :options="tipe"
                    placeholder="--Pilih Tipe Produk--"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Bulan</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.bulan"
                    :options="bulanSelect"
                    placeholder="--Pilih Bulan--"
                  />
                </div>
              </div>
              
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Tahun</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.tahun"
                    :options="recentYears"
                    placeholder="--Pilih Tahun--"
                  />
                </div>
              </div>


              <div class="d-flex ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button
                  v-else-if="store.tipe && store.bulan && store.tahun"
                  @click="SearchData"
                  class="btn btn-primary btn-cari"
                  style="background-color: #009D7B; color: #fff;"
                >
                  Cari
                </button>
                <button v-else disabled class="btn btn-cari"  style="background-color: #009D7B; color: #fff;">
                  Cari
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="">
                <!-- <div class="table-responsive"> -->
                  <DataTable :data="store.totalprice" :columns="columns" 
                   :options="{reponsive: true, autoWidth:false, dom:'Bfrtip',  language:{search: 'Cari Nama Produk'}}"
                  class="table table-bordered table-striped ">
                    <thead>
                      <tr >
                        <th width="20%">Nama Produk</th>
                        <th width="30%">Kategori Produk</th>
                        <th width="20%">Jumlah</th>
                        <th width="20%">Total Rp</th>
                      </tr>
                    </thead>                  
                  </DataTable>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
import DataTable from "datatables.net-vue3";
import DataTableLib from "datatables.net-bs5";
// import Buttons from "datatables.net-buttons-bs5";
import {formatRupiah} from '../../stores/functions'

DataTable.use(DataTableLib);
// DataTable.use(ButtonsHtml5);

export default {
  name: "AnalisaProdukcabang",
  components: { Select2, DataTable },
  data() {
    return {
      store: useTaskStore(),
      id_jabatan: this.$cookies.get("jabatan"),
      recentYears: [],
      tipe:['Jasa', 'Produk', 'Resep', 'Apotek', 'Semua'],
      
      columns: [
        // {data: null, reader: function(data, type, row, meta){return `${meta.row+1}`}},
        {data: 'namaproduk'},
        {data: 'tipe'} ,
        {data: 'totalqty'} ,
        {data: `totalprice` } ,
        {
          data: "totalprice",
          render: function (data, type) {
            if (type === "display" && typeof data === "number") {
              return formatRupiah(data);
            } else {
              return data;
            }
          },
        },

      ],
      bulanSelect: [
        { id: 1, text: "Januari" },
        { id: 2, text: "Februari" },
        { id: 3, text: "Maret" },
        { id: 4, text: "April" },
        { id: 5, text: "Mei" },
        { id: 6, text: "Juni" },
        { id: 7, text: "July" },
        { id: 8, text: "Agustus" },
        { id: 9, text: "September" },
        { id: 10, text: "Oktober" },
        { id: 11, text: "November" },
        { id: 12, text: "Desember" },
      ],
    };
  },



  methods: {
    async SearchData() {
      await this.store.AnalisaProd();
    },
   
  },
  mounted: function () {
    this.store.ListGudang();
    this.store.getListCabang();
    this.store.emptyAllState();
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
  },
};
</script>

<style>
@import "datatables.net-bs5";
</style>
