<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-success card-outline">
          <div class="row">
            <div class="col-md-6">
              <div class="card-body items-center d-flex w-100 flex-column">
                <h5 class="card-title mb-0">Produk 1</h5>
                <div
                  class="d-flex align-items-center w-100 justify-content-between"
                >
                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Cabang</label
                    >
                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.cabang"
                        :options="store.listCabang"
                        placeholder="Cabang"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Tipe</label
                    >
                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.tipe"
                        :options="tipe"
                        placeholder="Tipe Produk"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Bulan</label
                    >
                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.bulan"
                        :options="bulanSelect"
                        placeholder="Bulan"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Tahun</label
                    >
                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.tahun"
                        :options="recentYears"
                        placeholder="Tahun"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body items-center d-flex w-100 flex-column">
                <h5 class="card-title mb-0">Produk 2</h5>
                <div
                  class="d-flex align-items-center w-100 bg justify-content-between"
                >
                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Cabang</label
                    >

                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.cabangvs"
                        :options="store.listCabang"
                        placeholder="Cabang"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Tipe</label
                    >
                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.tipevs"
                        :options="tipe"
                        placeholder="Tipe Produk"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Bulan</label
                    >
                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.bulanvs"
                        :options="bulanSelect"
                        placeholder="Bulan"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Grup" class="control-label col-form-label"
                      >Tahun</label
                    >
                    <div class="ww">
                      <Select2
                        :settings="{ width: '100%' }"
                        v-model="store.tahunvs"
                        :options="recentYears"
                        placeholder="Tahun"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="d-flex justify-content-center col-md-12">
              <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                Loading ...
              </button>
              <button
                v-else-if="
                  store.tipe &&
                  store.bulan &&
                  store.tahun &&
                  store.cabang &&
                  store.cabangvs &&
                  store.tipevs &&
                  store.bulanvs &&
                  store.tahunvs
                "
                @click="SearchData"
                class="btn btn-cari"
                style="background-color: #009d7b; color: #fff"
              >
                Cari
              </button>
              <button
                v-else
                disabled
                class="btn btn-cari"
                style="background-color: #009d7b; color: #fff"
              >
                Cari
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card-body">
                <div class="row">
                  <div class="w-100">
                    <div
                      v-if="store.SumAnalisa"
                      class="d-flex justify-content-between align-items-center p-3 mb-2 rounded-2"
                      style="border: 1px solid #cbcbcb"
                    >
                      <h6>Total Jumlah :</h6>
                      <h6>
                        <b>{{ store.SumAnalisa }}</b>
                      </h6>
                    </div>
                    <div
                      v-if="store.Sum"
                      class="d-flex justify-content-between align-items-center p-3 mb-2 rounded-2"
                      style="border: 1px solid #cbcbcb"
                    >
                      <h6>Total Rp :</h6>
                      <h6>
                        <b>{{ store.Sum }}</b>
                      </h6>
                    </div>
                    <!-- <div class="table-responsive"> -->
                    <DataTable
                      style="width: 100%"
                      :data="store.totalprice"
                      :columns="columns"
                      :options="{
                        reponsive: true,
                        autoWidth: true,
                        language: { search: 'Cari' },
                      }"
                      class="table table-bordered table-striped"
                    >
                      <thead>
                        <tr>
                          <th width="20%">Nama Produk</th>
                          <th width="30%">Kategori Produk</th>
                          <th width="20%">Jumlah</th>
                          <th width="20%">Total Rp</th>
                        </tr>
                      </thead>
                    </DataTable>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div class="row">
                  <div class="w-100">
                    <div
                      v-if="store.SumAnalisaVs"
                      class="d-flex justify-content-between align-items-center p-3 mb-2 rounded-2"
                      style="border: 1px solid #cbcbcb"
                    >
                      <h6>Total Jumlah :</h6>
                      <h6>
                        <b>{{ store.SumAnalisaVs }}</b>
                      </h6>
                    </div>
                    <div
                      v-if="store.SumVS"
                      class="d-flex justify-content-between align-items-center p-3 mb-2 rounded-2"
                      style="border: 1px solid #cbcbcb"
                    >
                      <h6>Total Rp :</h6>
                      <h6>
                        <b>{{ store.SumVS }}</b>
                      </h6>
                    </div>
                    <!-- <div class="table-responsive"> -->
                    <DataTable
                      :data="store.totalpricevs"
                      :columns="columns"
                      :options="{
                        reponsive: true,
                        autoWidth: false,
                        language: { search: 'Cari' },
                      }"
                      class="table table-bordered table-striped"
                    >
                      <thead>
                        <tr>
                          <th width="20%">Nama Produk</th>
                          <th width="30%">Kategori Produk</th>
                          <th width="20%">Jumlah</th>
                          <th width="20%">Total Rp</th>
                        </tr>
                      </thead>
                    </DataTable>

                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
import DataTable from "datatables.net-vue3";
import DataTableLib from "datatables.net-bs5";
// import Buttons from "datatables.net-buttons-bs5";
import { formatRupiah } from "../../stores/functions";

DataTable.use(DataTableLib);
// DataTable.use(ButtonsHtml5);

export default {
  name: "AnalisaProdukVs",
  components: { Select2, DataTable },
  data() {
    return {
      store: useTaskStore(),
      id_jabatan: this.$cookies.get("jabatan"),
      tipe: ["Jasa", "Produk", "Resep", "Apotek", "Semua"],
      recentYears: [],
      columns: [
        // {data: null, reader: function(data, type, row, meta){return `${meta.row+1}`}},
        { data: "namaproduk" },
        { data: "tipe" },
        { data: "totalqty" },
        {
          data: "totalprice",
          render: function (data, type) {
            if (type === "display" && typeof data === "number") {
              return formatRupiah(data);
            } else {
              return data;
            }
          },
        },
      ],
      bulanSelect: [
        { id: 1, text: "Januari" },
        { id: 2, text: "Februari" },
        { id: 3, text: "Maret" },
        { id: 4, text: "April" },
        { id: 5, text: "Mei" },
        { id: 6, text: "Juni" },
        { id: 7, text: "July" },
        { id: 8, text: "Agustus" },
        { id: 9, text: "September" },
        { id: 10, text: "Oktober" },
        { id: 11, text: "November" },
        { id: 12, text: "Desember" },
      ],
    };
  },

  computed: {},

  methods: {
    async SearchData() {
      await this.store.AnalisaProd();
      await this.store.AnalisaProdVs();
    },
  },

  mounted: function () {
    this.store.ListGudang();
    this.store.getListCabang();
    this.store.emptyAllState();
    this.store.getListCabang();
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
  },
};
</script>

<style>
@import "datatables.net-bs5";
</style>
