<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Pemakaian Voucer</h5>
            <div class="d-flex align-items-center w-100 gap-2">
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Cabang</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.cabang"
                    :options="store?.listCabang"
                    placeholder="--Pilih Cabang--"
                  />
                </div>
              </div>

              <div class="d-flex ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button
                  v-else-if="store.cabang"
                  @click="store.getpemakaianVoucher()"
                  class="btn btn-cari"
                  style="background-color: #009d7b; color: #fff"
                >
                  Cari
                </button>
                <button
                  v-else
                  disabled
                  class="btn btn-cari"
                  style="background-color: #009d7b; color: #fff"
                >
                  Cari
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="">
                <!-- <div class="table-responsive"> -->
                <DataTable
                  :data="store.pemakaianVoucher"
                  :columns="columns"
                  :options="{
                    reponsive: true,
                    autoWidth: false,
                    language: { search: 'Cari' },
                  }"
                  class="table table-bordered table-striped"
                >
                  <thead>
                    <tr>
                      <th>Nama Cabang</th>
                      <th>Diskon</th>
                      <th>Kode Voucher</th>
                      <th>Jumlah Transaksi</th>
                      <th>Total Kotor</th>
                      <th>Total Bersih</th>
                      <th>Keterangan</th>
                    </tr>
                  </thead>
                </DataTable>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import DataTable from "datatables.net-vue3";
import DataTableLib from "datatables.net-bs5";
import Buttons from "datatables.net-buttons-bs5";
import { formatRupiah } from "../../stores/functions";
// import ButtonsHtml5 from "datatables.net-buttons/js/buttons.html5";
import print from "datatables.net-buttons/js/buttons.print";
import pdfmake from "pdfmake";
import "datatables.net-responsive-bs5";
import JsZip from "jszip";
window.JsZip = JsZip;
DataTable.use(DataTableLib);
// DataTable.use(ButtonsHtml5);
// DataTable.use(pdfmake);
import Select2 from "vue3-select2-component";


export default {
  components: { DataTable, Select2 },
  data() {
    return {
      store: useTaskStore(),
     
      columns: [
        { data: "nama_cabang" },
        {
          data: "diskon",
          render: function (data) {
            if (data) {
              return formatRupiah(data);
            } else {
              return data;
            }
          },
        },
        { data: "kode_voucher" },
        { data: "jml_transaksi" },
        { data: "total_kotor" },
        { data: "total_bersih" },
        { data: "keterangan" },
      ],
    };
  },
  
  mounted() {
    this.store.getListCabang();
  },
};
</script>

<style>
@import "datatables.net-bs5";
</style>
