<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Penjualan Voucer</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="">
                <!-- <div class="table-responsive"> -->
                <DataTable
                  :data="store.penjualanVoucher"
                  :columns="columns"
                  :options="{
                    reponsive: true,
                    autoWidth: false,
                    language: { search: 'Cari' },
                  }"
                  class="table table-bordered table-striped"
                >
                  <thead>
                    <tr>
                      <th>Diskon</th>
                      <th>Kode Voucher</th>
                      <th>Harga Jual</th>
                      <th>Jumlah Terjual</th>
                      <th>Total Kotor</th>
                      <th>Total Bersih</th>
                      <th>Keterangan</th>
                    </tr>
                  </thead>
                </DataTable>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import DataTable from "datatables.net-vue3";
import DataTableLib from "datatables.net-bs5";
import Buttons from "datatables.net-buttons-bs5";
import { formatRupiah } from "../../stores/functions";
// import ButtonsHtml5 from "datatables.net-buttons/js/buttons.html5";
import print from "datatables.net-buttons/js/buttons.print";
import pdfmake from "pdfmake";
import "datatables.net-responsive-bs5";
import JsZip from "jszip";
window.JsZip = JsZip;
DataTable.use(DataTableLib);
// DataTable.use(ButtonsHtml5);
// DataTable.use(pdfmake);

export default {
  components: { DataTable },
  data() {
    return {
      store: useTaskStore(),
      data: [
        {
          diskon: "dfa",
        },
      ],
      columns: [
        { data: "diskon" },
        { data: "kode_voucher" },
        {
          data: "harga_jual",
          render: function (data) {
            if (data) {
              return formatRupiah(data);
            } else {
              return data;
            }
          },
        },
        { data: "jml_terjual" },
        { data: "total_kotor" },
        { data: "total_bersih" },
        { data: "keterangan" },
      ],
    };
  },
  methods: {},
  async mounted() {
    await this.store.getPenjualanVoucher();
  },
};
</script>

<style>
@import "datatables.net-bs5";
</style>
