<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Grafik Pendapatan Harian</h5>

            <div class="d-flex align-items-center w-100 gap-2">
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Cabang</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.cabang"
                    :options="store.listCabang"
                    placeholder="--Pilih Cabang--"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Bulan</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.bulan"
                    :options="bulanSelect"
                    placeholder="--Pilih Bulan--"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Tahun</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.tahun"
                    :options="recentYears"
                    placeholder="--Pilih Tahun--"
                  />
                </div>
              </div>
              <div class="d-flex align-items-start ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button
                  v-else-if="store.bulan && store.cabang && store.tahun"
                  @click="SearchData"
                  class="btn btn-cari"
                  style="background-color: #009d7b; color: #fff"
                >
                  Cari
                </button>
                <button v-else disabled class="btn btn-cari"  style="background-color: #009d7b; color: #fff">
                  Cari
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <Line :data="store.data" :options="options" />
              </div>
              <div class="col-md-12">
                <hr />
                <Line :data="store.dataSemua" :options="options" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
} from "chart.js";
import { Line } from "vue-chartjs";

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);
import Select2 from "vue3-select2-component";
export default {
  name: "CabangUtamaPage",
  components: {
    Line,
    Select2,
  },
  data() {
    return {
      store: useTaskStore(),
      bulanSelect: [
        { id: 1, text: "Januari" },
        { id: 2, text: "Februari" },
        { id: 3, text: "Maret" },
        { id: 4, text: "April" },
        { id: 5, text: "Mei" },
        { id: 6, text: "Juni" },
        { id: 7, text: "July" },
        { id: 8, text: "Agustus" },
        { id: 9, text: "September" },
        { id: 10, text: "Oktober" },
        { id: 11, text: "November" },
        { id: 12, text: "Desember" },
      ],
      recentYears: [],
      user: this.$cookies.get("user").id,
      Token: this.$cookies.get("user").token,

      options: {
        responsive: true,
        maintainAspectRatio: true,
      },
    };
  },
  methods: {
    SearchData() {
      this.store.getPendapatanUtama();
    },
  },
  mounted: function () {
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
    this.store.getListCabang();
    this.store.emptyAllState();
  },
};
</script>
