<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">History Produk</h5>
            <div class="d-flex align-items-center w-100 gap-2 mt-4">
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Cabang</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.cabang"
                    :options="store.listCabang"
                    placeholder="--Pilih Cabang--"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label"
                  >Tanggal Awal</label
                >
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"
                      ><i class="mdi mdi-calendar">Date</i></span
                    >
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker
                      class="form-control-datepicker w-100 outline-none"
                      v-model="store.tglAwal"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label"
                  >Tanggal Akhir</label
                >
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"
                      ><i class="mdi mdi-calendar">Date</i></span
                    >
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker
                      class="form-control-datepicker w-100 outline-none"
                      v-model="store.tglAkhir"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Jenis Inventory</label
                  >
                  <div class="ww">
                    <Select2
                      :settings="{ width: '100%' }"
                      v-model="store.IdInventory"
                      :options="store.ListInventory"
                      placeholder="--Pilih Cabang--"
                    />
                  </div>
                </div>

              <div class="d-flex ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button
                  v-else-if="store.tglAkhir && store.tglAwal && store.IdInventory && store.cabang"
                  @click="SearchData"
                  class="btn btn-cari"
                  style="background-color: #009d7b; color: #fff"
                >
                  Cari
                </button>
                <button
                  v-else
                  disabled
                  class="btn btn-cari"
                  style="background-color: #009d7b; color: #fff"
                >
                  Cari
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="">
                <div class="table-responsive">
                <DataTable
                  :data="store.LogInventory"
                  :columns="columns"
                  :options="{
                    reponsive: true,
                    autoWidth: false,
                    language: { search: 'Cari Nama Produk' },
                  }"
                  class="table table-bordered "
                >
                  <thead>
                    <tr>
                      <th >Tanggal</th>
                      <th >Waktu</th>
                      <th >Cabang</th>
                      <th >Gudang</th>
                      <th >Inventory</th>
                      <th >Kategori</th>
                      <th width="30%" >Produk</th>
                      <th >StokAwal</th>
                      <th >Qty</th>
                      <th >StokAkhir</th>
                      <th >Satuan</th>
                      <th >User</th>
                      <th >Keterangan</th>
                    </tr>
                  </thead>
                </DataTable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
import DataTable from "datatables.net-vue3";
import DataTableLib from "datatables.net-bs5";
DataTable.use(DataTableLib);
import Datepicker from "vue3-datepicker";
export default {
  name: "HistoryProduk",
  components: { Select2, DataTable, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      recentYears: [],
      columns: [
        { data: "tgl" },
        { data: "wkt" },
        { data: "nama_cabang" },
        { data: "nama_gudang" },
        { data: "jenis_inventory" },
        { data: "kategori" },
        { data: "nama_produk" },
        { data: "jml_awal" },
        { data: "jml" },
        { data: "jml_akhir" },
        { data: "satuan" },
        { data: "nama_lengkap" },
        { data: "keterangan" },
      ],
    };
  },
  methods: {
    async SearchData() {
      await this.store.historyproduk();
    },
  },
  mounted: function () {
    this.store.ListGudang();
    this.store.getListCabang();
    this.store.emptyAllState();
    this.store.getListInventory();
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
  },
};
</script>

<style>
@import "datatables.net-bs5";
</style>
