<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Produk Kosong</h5>
            <div class="d-flex w-100 gap-2 align-items-center">
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Gudang</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.gudang"
                    :options="store.listGudang"
                    placeholder="--Pilih Gudang--"
                  />
                </div>
              </div>

              <div class="d-flex align-items-start ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button
                  v-else-if="store.gudang"
                  @click="SearchData"
                  class="btn btn-cari"
                     style="background-color: #009d7b; color: #fff"
                >
                  Cari
                </button>
                <button v-else disabled class="btn btn-cari"    style="background-color: #009d7b; color: #fff">
                  Cari
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="width: 30%">
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Kode Produk</label
                      >
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Nama Produk</label
                      >
                    </div>
                  </th>

                  <th>
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Sisa Stok</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr
                  v-for="stok in store.stokKosong"
                  v-bind:key="stok"
                  v-bind:stok="stok"
                >
                  <td>{{ stok.kode_produk }}</td>
                  <td>{{ stok.nama_produk }}</td>
                  <td>{{ stok.sisa_stok }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
export default {
  name: "ProdukKosongCabang",
  components: { Select2 },
  data() {
    return {
      store: useTaskStore(),
      id_jabatan: this.$cookies.get("jabatan"),
    };
  },
  methods: {
    SearchData() {
      this.store.ViewStokKosong();
    },
  },
  mounted: function () {
    this.store.ListGudang();
    this.store.getListCabang();
    this.store.emptyAllState();
  },
};
</script>
