<template>
    <div class="page-breadcrumb pt-3">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title"></h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb"></nav>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-md-12">
          <!-- Jasa -->
          <div class="card card-success card-outline r-4">
            <div class="card-body items-center d-flex flex-column">
              <h5 class="card-title mb-0 ">Stok Produk </h5>
              <div class="d-flex align-items-center w-100 gap-2">
              
                
                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Gudang</label
                  >
                  <div class="ww">
                    <Select2
                      :settings="{ width: '100%' }"
                      v-model="store.gudang"
                      :options="store.listGudang"
                      placeholder="--Pilih Tipe Produk--"
                    />
                  </div>
                </div>
              
  
                <div class="d-flex ml-4">
                  <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                    Loading ...
                  </button>
                  <button
                    v-else-if="store.gudang"
                    @click="SearchData"
                    class="btn btn-cari "
                    style="background-color: #009D7B; color: #fff;"
                  >
                    Cari
                  </button>
                  <button v-else disabled class="btn btn-cari " style="background-color: #009D7B; color: #fff;">
                    Cari
                  </button>
                </div>
              </div>
            </div>
  
            <div class="card-body">
              <div class="row">
                <div class="">
                  <!-- <div class="table-responsive"> -->
                    <DataTable :data="store.StokProduk" :columns="columns"
                     :options="{reponsive: true, autoWidth:false, language:{search: 'Cari Nama Produk'}} "
                    class="table table-bordered table-striped ">
                      <thead>
                        <tr >
                          <th width="20%">Nama Produk</th>
                          <th width="30%">Tipe Produk</th>
                          <th width="30%">Kode Produk</th>
                          <th width="20%">Sisa Stok</th>
                          <th width="20%">Satuan</th>
                        </tr>
                      </thead>                  
                    </DataTable>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { useTaskStore } from "@/stores/TaskStore";
  import Select2 from "vue3-select2-component";
  import DataTable from "datatables.net-vue3";
  import DataTableLib from "datatables.net-bs5";
  DataTable.use(DataTableLib);
  
  export default {
    name: "StokProdukCabang",
    components: { Select2, DataTable },
    data() {
      return {
        store: useTaskStore(),
        recentYears: [],
        columns: [
          {data: 'nama_produk'},
          {data: 'kode_produk'},
          {data: 'tipe'},
          {data: 'sisa_stok'},
          {data: 'satuan'},
          
        ],
       
       
      };
    },
    methods: {
      async SearchData() {
        await this.store.getStokProduk();
      },
     
    },
    mounted: function () {
      this.store.ListGudang();
      this.store.getListCabang();
      this.store.emptyAllState();
      this.store.getListGudang()
      const currentYear = new Date().getFullYear();
      for (let i = 0; i < 3; i++) {
        this.recentYears.push(currentYear - i);
      }
    },
  };
  </script>
  
  <style>
  @import "datatables.net-bs5";
  </style>
  