<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <!-- modal edit -->
  <div class="modal fade" id="modaledit">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Lingkup Kerja</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h6 v-if="store.Errormsg" class="text-danger">
                  {{ store.Errormsg }} *
                </h6>
                <div class="form-group">
                  <label for="fname" class="control-label col-form-label"
                    >Username</label
                  >
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Nama"
                      v-model="store.UsernameOwner"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="fpass" class="control-label col-form-label"
                    >Password Baru</label
                  >
                  <div class="">
                    <input
                      type="password"
                      class="form-control"
                      id="fpass"
                      placeholder="Password"
                      v-model="store.PasswordOwner"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="fpass" class="control-label col-form-label"
                    > Ulangi Password</label
                  >
                  <div class="">
                    <input
                      type="password"
                      class="form-control"
                      id="fpass"
                      placeholder="Password"
                      v-model="store.PasswordOwnerCon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button
            @click="UpdateOwner"
            class="btn btn-success btn-xl"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- main -->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Tambah Akun Cabang</h5>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Cabang</label
                  >
                  <div class="ww">
                    <Select2
                      :settings="{ width: '100%' }"
                      v-model="store.cabang"
                      :options="store.listCabang"
                      placeholder="--Pilih Cabang--"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Jabatan</label
                  >
                  <div class="ww">
                    <Select2
                      :settings="{ width: '100%' }"
                      v-model="store.jabatan"
                      :options="store.listjabatan"
                      placeholder="--Pilih Cabang--"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Nama Lengkap</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan Nama Lengkap"
                    v-model="store.NamaLengkap"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Username</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Masukkan Username"
                    v-model="store.Uname"
                  />
                </div>

                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Masukkan Password"
                    v-model="store.Upassowrd"
                  />
                </div>
                <div class="form-group">
                  <label for="alamat" class="control-label col-form-label"
                    >Nomor Induk</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Masukkan Password"
                    v-model="store.noInduk"
                  />
                </div>
              </div>
            </div>
            <button
              v-if="
                store.jabatan &&
                store.cabang &&
                store.NamaLengkap &&
                store.Uname &&
                store.Upassowrd &&
                store.noInduk
              "
              class="btn btn-xl w-full btn-primary"
              @click="AddAkunCabang"
            >
              Submit
            </button>
            <button v-else class="btn btn-xl w-full btn-primary" disabled>
              Submit
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">List Owner</h5>
            <div class="d-flex align-items-center w-100 gap-2"></div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th width="60%">Username</th>
                        <th width="20%">Nama Cabang</th>
                        <th width="20%">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="data in store.ListOwner" :key="data">
                        <td>{{ data.username }}</td>
                        <td>{{ data.nama_cabang }}</td>
                        <td>
                          <button
                            @click="showModalEdit(data.id_karyawan)"
                            class="btn btn-warning btn-xl"
                          >
                            Edit
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";

export default {
  name: "TambahAkunCabang",
  components: {
    Select2,
  },
  data() {
    return {
      store: useTaskStore(),
      bulanSelect: [
        { id: 1, text: "Januari" },
        { id: 2, text: "Februari" },
        { id: 3, text: "Maret" },
        { id: 4, text: "April" },
        { id: 5, text: "Mei" },
        { id: 6, text: "Juni" },
        { id: 7, text: "July" },
        { id: 8, text: "Agustus" },
        { id: 9, text: "September" },
        { id: 10, text: "Oktober" },
        { id: 11, text: "November" },
        { id: 12, text: "Desember" },
      ],
      recentYears: [],
      user: this.$cookies.get("user").id,
      Token: this.$cookies.get("user").token,
      idOwner: "",
    };
  },
  methods: {
    async AddAkunCabang() {
      
      await this.store.addakunCabang();
      if (this.store.succes === true) {
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Ditambahkan",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getListOwner()
        this.store.emptyAllState();
      }
    },
    showModalEdit(id) {
      this.idOwner = id;
      $("#modaledit").modal("show");
      let response = this.store.ListOwner.filter((d) => d.id_karyawan === id);
      this.store.UsernameOwner = response[0].username;
    },
    async UpdateOwner() {
      if (this.store.PasswordOwner === this.store.PasswordOwnerCon) {
        await this.store.UpdateOwner(this.idOwner);
        this.$swal({
          position: "center",
          icon: "success",
          title: "Data Berhasil Diubah",
          showConfirmButton: false,
          timer: 1500,
        });
        this.store.getListOwner();
        $("#modaledit").modal("hide");
        this.store.PasswordOwner = ""
        this.store.PasswordOwnerCon = ""
        this.store.Errormsg = ""
      }
      else {
        this.store.Errormsg = "Password Tidak Sama"
      }
    }
  },
  mounted: function () {
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
    this.store.getListCabang();
    this.store.emptyAllState();
    this.store.getListOwner();
    this.store.getListJabatan();
  },
};
</script>
