<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Top 10 Data</h5>
            <div class="d-flex w-100 align-items-center gap-2">
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Cabang</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.cabang"
                    :options="store.listCabangall"
                    placeholder="--Pilih Bulan--"
                  >
                  <option  value="all">All</option>
                  </Select2>
                </div>
              </div>
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Bulan</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.bulan"
                    :options="bulanSelect"
                    placeholder="--Pilih Bulan--"
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Tahun</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.tahun"
                    :options="recentYears"
                    placeholder="--Pilih Tahun--"
                  />
                </div>
              </div>
              <div class="d-flex align-items-start ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button
                  v-else-if="store.bulan && store.tahun"
                  @click="SearchData"
                  class="btn btn-cari"
                  style="background-color: #009d7b; color: #fff"
                >
                  Cari
                </button>
                <button v-else disabled class="btn btn-cari"    style="background-color: #009d7b; color: #fff">
                  Cari
                </button>
              </div>
            </div>
          </div>

          <div class="card-body"></div>
        </div>
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Jasa</h5>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Nama Jasa</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Tipe</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Jumlah</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Total Rp</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr
                  v-for="jasa in store.topjasa"
                  v-bind:key="jasa"
                  v-bind:jasa="jasa"
                >
                  <td>{{ jasa.namaproduk }}</td>
                  <td>{{ jasa.tipe }}</td>
                  <td>{{ jasa.totalqty }}</td>
                  <td>{{ addComma(jasa.totalqty * jasa.hargasatuan) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Produk -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Produk</h5>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Nama Produk</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Tipe</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Jumlah</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Total Rp</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr
                  v-for="produk in store.topproduk"
                  v-bind:key="produk"
                  v-bind:produk="produk"
                >
                  <td>{{ produk.namaproduk }}</td>
                  <td>{{ produk.tipe }}</td>
                  <td>{{ produk.totalqty }}</td>
                  <td>{{ addComma(produk.totalqty * produk.hargasatuan) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Apotek -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Apotek</h5>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Nama Produk</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Tipe</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Jumlah</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Total Rp</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr
                  v-for="apotek in store.topapotek"
                  v-bind:key="apotek"
                  v-bind:apotek="apotek"
                >
                  <td>{{ apotek.namaproduk }}</td>
                  <td>{{ apotek.tipe }}</td>
                  <td>{{ apotek.totalqty }}</td>
                  <td>{{ addComma(apotek.totalqty * apotek.hargasatuan) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Resep -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Resep</h5>
          </div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Nama Produk</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Tipe</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Jumlah</label
                      >
                    </div>
                  </th>
                  <th style="width: 20%">
                    <div class="form-group row">
                      <label
                        for="fname"
                        class="col-sm-12 control-label col-form-label"
                        >Total Rp</label
                      >
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr
                  v-for="resep in store.topresep"
                  v-bind:key="resep"
                  v-bind:resep="resep"
                >
                  <td>{{ resep.namaproduk }}</td>
                  <td>{{ resep.tipe }}</td>
                  <td>{{ resep.totalqty }}</td>
                  <td>{{ addComma(resep.totalqty * resep.hargasatuan) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
export default {
  name: "TopUtama",
  components: { Select2 },
  data() {
    return {
      store: useTaskStore(),
      recentYears: [],
      bulanSelect: [
        { id: 1, text: "Januari" },
        { id: 2, text: "Februari" },
        { id: 3, text: "Maret" },
        { id: 4, text: "April" },
        { id: 5, text: "Mei" },
        { id: 6, text: "Juni" },
        { id: 7, text: "July" },
        { id: 8, text: "Agustus" },
        { id: 9, text: "September" },
        { id: 10, text: "Oktober" },
        { id: 11, text: "November" },
        { id: 12, text: "Desember" },
      ],
    };
  },
  methods: {
    SearchData() {
      this.store.topPrductJasaUtama();
    },
    addComma(number) {
      return number.toLocaleString();
    },
  },
  mounted: function () {
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
    this.store.getListCabangAll();
    this.store.emptyAllState();
  },
};
</script>
