<template>
  <div class="gap-2">
    <button @click="cobalagi" class="btn btn-success">Get All Em</button>
  </div>
</template>
<script>
import { useTaskStore } from "@/stores/TaskStore";
import axios from "axios";

export default {
  name: "TestPageTalenta",
  data() {
    return {
      store: useTaskStore(),
      Allem: [],
      DataTindakan: "",
      Datapush: [],
    };
  },
  methods: {
    cobalagi() {
      const config = {
        headers: {
          Authorization: "Bearer " + this.$cookies.get("token"),
        },
      };
      axios
        .get(
          `https://api-kel-c-rl4zdrcxca-et.a.run.app/api/1.0/workflow/extrarest/v1/s/insentifTindakanCabang/12/21/1/2023`,
          config
        )
        .then((res) => {
          this.DataTindakan = res.data.response;
          for (const item of this.DataTindakan) {
            const replacedString = item.nik.replace(/\//g, "%2F");
            axios
              .get(`http://localhost:8080/getEmployeeById/${replacedString}`)
              .then((res) => {
                // if (item.nik === res.data.data.employment.employee_id) {
                this.Datapush.push({
                  id_user: res.data.data.employment.id,
                  em_id: res.data.data.employment.employee_id,
                  total: item.total,
                });
                // }
              });
          }
        });
    },
  },
};
</script>
