<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Insentif Dokter</h5>
            <div class="d-flex align-items-center w-100 gap-2">


              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label">Tanggal Awal</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"><i class="mdi mdi-calendar">Date</i></span>
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker class="form-control-datepicker w-100 outline-none" v-model="store.tglAwal" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label">Tanggal Akhir</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"><i class="mdi mdi-calendar">Date</i></span>
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker class="form-control-datepicker w-100 outline-none" v-model="store.tglAkhir" />
                  </div>
                </div>
              </div>
              <div class="d-flex ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button v-else-if="store.tglAwal && store.tglAkhir" @click="SearchData" class="btn btn-cari"
                  style="background-color: #009d7b; color: #fff">
                  Cari
                </button>
                <button v-else disabled class="btn btn-cari" style="background-color: #009d7b; color: #fff">
                  Cari
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-success card-outline r-4">
          <h5 class="card-title mb-0 text-center pt-3">Insentif Produk (Ditebus)</h5>
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Nama Dokter</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Jumlah Resep Ditebus</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Jumlah Diresepkan</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Total Resep Ditebus</label>
                    </div>
                  </th>
                
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Total Diresepkan</label>
                    </div>
                  </th>
              

                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Persen <b>(%)</b> </label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Insentif</label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="produk in store.ProdukmergedArray" v-bind:key="produk" v-bind:produk="produk">
                  <td>{{ produk.DokterName }}</td>
                    <td>{{ produk.produkTebus }}</td>
                    <td>{{ parseInt(produk.produk_tdk_ditebus)  +  parseInt(produk.produkTebus) }}</td>                   
                    <td v-if="produk.total_ditebus" >{{ Format(produk.total_ditebus)}}</td>
                    <td v-else>0</td>
                    <td v-if="produk.total_diresep" >{{ Format(parseInt(produk.total_diresep) + parseInt(produk.total_ditebus) ) }}</td>
                    <td v-else>0</td>
                  <td>
                    <input v-model="produk.inputNumber" class="border-1 w-100 p-2" @input="updateInsentif(produk)" />
                  </td>
                  <td v-if="produk.insentif">
                    {{ Format(produk.insentif) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card card-success card-outline r-4">
          <h5 class="card-title mb-0 text-center pt-3">Insentif Peralihan(HTTD)</h5>
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Nama Dokter</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">NIK</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Jumlah Kehadiran</label>
                    </div>
                  </th>
                  <th>
                    <div class="form-group row">
                      <label for="fname" class="col-sm-12 control-label col-form-label">Total Jasa</label>
                    </div>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr v-for="httd in store.HttdDokter" v-bind:key="httd" v-bind:httd="httd">
                  <td>{{ httd.nama_dokter }}</td>
                  <td>{{ httd.nik_dokter }}</td>
                  <td>{{ httd.jml_visit }}</td>
                  <td>{{ Format(httd.total_jasa) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script>
import { useTaskStore } from "@/stores/TaskStore";
import Datepicker from "vue3-datepicker";

export default {
  name: "InsentifDokterCabang",
  components: {  Datepicker },
  data() {
    return {
      store: useTaskStore(),
      id_jabatan: this.$cookies.get("jabatan"),
      recentYears: [],
      tipe: ["Jasa", "Produk", "Resep", "Apotek"],
      jabatanid: ["Dokter", "Terapis"],
      bulanSelect: [
        { id: 1, text: "Januari" },
        { id: 2, text: "Februari" },
        { id: 3, text: "Maret" },
        { id: 4, text: "April" },
        { id: 5, text: "Mei" },
        { id: 6, text: "Juni" },
        { id: 7, text: "July" },
        { id: 8, text: "Agustus" },
        { id: 9, text: "September" },
        { id: 10, text: "Oktober" },
        { id: 11, text: "November" },
        { id: 12, text: "Desember" },
      ],
    };
  },
  computed: {},
  methods: {
    updateInsentif(produk) {
      const total = parseInt(produk.total_produk.replace(/[^0-9]/g, '')) || 0;
      const persen = parseInt(produk.inputNumber) || 0;

      const totalAkhir = parseInt((persen / 100) * total) || 0;
      // Assuming you want to store the calculated value in your data
      produk.insentif = totalAkhir;
    },

    CalCulInsentif(number) {
      const inputNumberValue = Number(this.inputNumber);
      if (isNaN(inputNumberValue)) {
        // Handle the case where inputNumber is not a valid number
        return "Invalid inputNumber";
      }

      return (inputNumberValue * number) / 100;
    },
    Format(data) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: "IDR",
      }).format(data);
    },
    SearchData() {
      this.store.ProdukmergedArray = [];
      this.store.getInsentifDokter();
    },
  },
  mounted: function () {
    this.store.ListGudang();
    this.store.getListCabang();
    this.store.emptyAllState();
    this.store.getListCabang();
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
  },
};
</script>
  
