<template>
    <div>
    <img
      src="../../assets/images/under_construction.png"
      style="width: 100%"
      alt=""
    />
  </div>
</template>
  
<script>

export default {
    name: "InsentifJabatanDokter",
    
};
</script>
  
