<template>
    <div class="page-breadcrumb pt-3">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title"></h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb"></nav>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-md-12">
          <!-- Jasa -->
          <div class="card card-success card-outline r-4">
            <div class="card-body items-center d-flex flex-column">
              <h5 class="card-title mb-0">Insentif Semua Tindakan Cabang</h5>
              <div class="d-flex align-items-center w-100 gap-2">
          
  
                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Bulan</label
                  >
                  <div class="ww">
                    <Select2
                      :settings="{ width: '100%' }"
                      v-model="store.bulan"
                      :options="bulanSelect"
                      placeholder="--Pilih Bulan--"
                    />
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="Grup" class="control-label col-form-label"
                    >Tahun</label
                  >
                  <div class="ww">
                    <Select2
                      :settings="{ width: '100%' }"
                      v-model="store.tahun"
                      :options="recentYears"
                      placeholder="--Pilih Tahun--"
                    />
                  </div>
                </div>
  
                <div class="d-flex ml-4">
                  <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                    Loading ...
                  </button>
                  <button
                    v-else-if="store.bulan && store.tahun"
                    @click="store.getInsentifAllCabang"
                    class="btn btn-cari"
                    style="background-color: #009d7b; color: #fff"
                  >
                    Cari
                  </button>
                  <button
                    v-else
                    disabled
                    class="btn btn-cari"
                    style="background-color: #009d7b; color: #fff"
                  >
                    Cari
                  </button>
              
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="">
                  <!-- <div class="table-responsive"> -->
                  <DataTable
                    :data="store.DataTindakan"
                    :columns="columns"
                    :options="{
                      buttons: button,
                      reponsive: true,
                      autoWidth: false,                    
                      dom: 'Bfrtip',
                      language: { search: 'Cari' },
                     
                    }"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Nama Lengkap</th>
                        <th>Jabatan</th>
                        <th>Jumlah</th>
                        <th>Total Insentif</th>
                      </tr>
                    </thead>
                  </DataTable>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { useTaskStore } from "@/stores/TaskStore";
  import Select2 from "vue3-select2-component";
  import DataTable from "datatables.net-vue3";
  import DataTableLib from "datatables.net-bs5";
  import Buttons from "datatables.net-buttons-bs5";
  import { formatRupiah } from "../../stores/functions";
  import ButtonsHtml5 from "datatables.net-buttons/js/buttons.html5";
  import print from 'datatables.net-buttons/js/buttons.print'
  import pdfmake from 'pdfmake'
  import 'datatables.net-responsive-bs5'
  import JsZip from 'jszip'
  window.JsZip =JsZip
  DataTable.use(DataTableLib);
  DataTable.use(ButtonsHtml5); 
  // DataTable.use(pdfmake); 
  
  export default {
    name: "InsentifTindakanAllCabang",
    components: { Select2, DataTable },
    data() {
      return {
        store: useTaskStore(),
        id_jabatan: this.$cookies.get("jabatan"),
        recentYears: [],
        button:[
          {
            title: 'Insentif Semua Tindakan',
            extend: 'csv',
            text: '<i class="fa fa-file-excel"></i> Excel',
            className: 'text-dark',
            
          },
          {
            title: 'Insentif Semua Tindakan',
            extend: 'print',
            text: '<i class="fa fa-file-excel"></i> PDF',
            className: ' text-dark ml-2',
          }
        ],
        columns: [
          // {data: null, reader: function(data, type, row, meta){return `${meta.row+1}`}},
          { data: "nik" },
          { data: "namaLengkap" },
          { data: "jabatan" },
          { data: "jml" },
          {
            data: "total",
            render: function (data) {
              if (data) {
                return formatRupiah(data);
              } else {
                return data;
              }
            },
          },
        ],
        bulanSelect: [
          { id: 1, text: "Januari" },
          { id: 2, text: "Februari" },
          { id: 3, text: "Maret" },
          { id: 4, text: "April" },
          { id: 5, text: "Mei" },
          { id: 6, text: "Juni" },
          { id: 7, text: "July" },
          { id: 8, text: "Agustus" },
          { id: 9, text: "September" },
          { id: 10, text: "Oktober" },
          { id: 11, text: "November" },
          { id: 12, text: "Desember" },
        ],
      };
    },
    methods: {},
    mounted: function () {
      this.store.emptyAllState();
      this.store.getListCabang();
      const currentYear = new Date().getFullYear();
      for (let i = 0; i < 3; i++) {
        this.recentYears.push(currentYear - i);
      }
    },
  };
  </script>
  
  <style>
  @import "datatables.net-bs5";
  </style>
  