<template>
  <div class="page-breadcrumb pt-3">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title"></h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb"></nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <!-- Jasa -->
        <div class="card card-success card-outline r-4">
          <div class="card-body items-center d-flex flex-column">
            <h5 class="card-title mb-0">Insentif Apoteker</h5>
            <div class="d-flex align-items-center w-100 gap-2">
              <div class="form-group">
                <label for="Grup" class="control-label col-form-label"
                  >Cabang</label
                >
                <div class="ww">
                  <Select2
                    :settings="{ width: '100%' }"
                    v-model="store.cabang"
                    :options="store.listCabang"
                    placeholder="--Pilih Cabang--"
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label"
                  >Tanggal Awal</label
                >
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"
                      ><i class="mdi mdi-calendar">Date</i></span
                    >
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker
                      class="form-control-datepicker w-100 outline-none"
                      v-model="store.tglAwal"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="tglmsk" class="control-label col-form-label"
                  >Tanggal Akhir</label
                >
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text h-100"
                      ><i class="mdi mdi-calendar">Date</i></span
                    >
                  </div>
                  <div class="form-control control-datepicker">
                    <datepicker
                      class="form-control-datepicker w-100 outline-none"
                      v-model="store.tglAkhir"
                    />
                  </div>
                </div>
              </div>
              <div class="d-flex ml-4">
                <button v-if="store.isLoading" class="btn btn-warning btn-cari">
                  Loading ...
                </button>
                <button
                  v-else-if="
                    store.tglAwal &&
                    store.tglAkhir &&
                    store.cabang
                  "
                  @click="SearchData"
                  class="btn  btn-cari"
                  style="background-color: #009D7B; color: #fff;"
                >
                  Cari
                </button>
                <button v-else disabled class="btn  btn-cari" style="background-color: #009D7B; color: #fff;">
                  Cari
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="">
                <!-- <div class="table-responsive"> -->
                <DataTable
                  :data="store.ListApoteker"
                  :columns="columns"
                  :options="{
                    reponsive: true,
                    autoWidth: false,
                    language: { search: 'Cari Nama Karyawan' },
                  }"
                  class="table table-bordered table-striped"
                >
                  <thead>
                    <tr>
                      <th>Nama Karyawan</th>
                      <th>NIK</th>
                      <th>Jumlah Resep</th>
                      <th>Total Resep</th>
                    </tr>
                  </thead>
                </DataTable>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";
import Select2 from "vue3-select2-component";
import DataTable from "datatables.net-vue3";
import DataTableLib from "datatables.net-bs5";
// import Buttons from "datatables.net-buttons-bs5";
import { formatRupiah } from "@/stores/functions";
import Datepicker from "vue3-datepicker";

DataTable.use(DataTableLib);
// DataTable.use(ButtonsHtml5);

export default {
  name: "InsentifApoteker",
  components: { Select2, DataTable, Datepicker },
  data() {
    return {
      store: useTaskStore(),
      id_jabatan: this.$cookies.get("jabatan"),
      recentYears: [],
      tipe: ["Jasa", "Produk", "Resep", "Apotek"],
      columns: [
        // {data: null, reader: function(data, type, row, meta){return `${meta.row+1}`}},
        { data: "nama" },
        { data: "nik" },
        { data: "jml" },
        {
          data: "total",
          render: function (data) {
            if (data) {
              return formatRupiah(data);
            } else {
              return data;
            }
          },
        },
      ],
      jabatanid: ["Dokter", "Terapis"],
      bulanSelect: [
        { id: 1, text: "Januari" },
        { id: 2, text: "Februari" },
        { id: 3, text: "Maret" },
        { id: 4, text: "April" },
        { id: 5, text: "Mei" },
        { id: 6, text: "Juni" },
        { id: 7, text: "July" },
        { id: 8, text: "Agustus" },
        { id: 9, text: "September" },
        { id: 10, text: "Oktober" },
        { id: 11, text: "November" },
        { id: 12, text: "Desember" },
      ],
    };
  },
  methods: {
     SearchData() {
       this.store.getInsentifApoteker();
    },
  },
  mounted: function () {
    this.store.ListGudang();
    this.store.getListCabang();
    this.store.emptyAllState();
    this.store.getListCabang();
    const currentYear = new Date().getFullYear();
    for (let i = 0; i < 3; i++) {
      this.recentYears.push(currentYear - i);
    }
  },
};
</script>

<style>
@import "datatables.net-bs5";
</style>
