<template>
  <div class="login-page bg-grad-login">
    <div class="login-box rounded-circle">
      <div class="card">
        <div class="card-body login-card-body">
          <div class="login-logo d-flex justify-content-center">
            <img
              class="w-90"
              src="../../assets/images/logotransparent.png"
              alt=""
            />
          </div>
          <div v-if="store.passworderr" class="height">
            <h6 class="font-pass">{{ store.passworderr }} !!</h6>
          </div>

          <p class="login-box-msg text-bold">LOGIN</p>
          <form action="../../index3.html" method="post">
            <div class="input-group mb-3">
              <input
                type="username"
                class="form-control"
                v-model="store.Username"
                placeholder="Username"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                v-model="store.Password"
                @keyup.enter="loginClick"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" />
                  <label for="remember"> Remember Me </label>
                </div>
              </div>
            </div> -->
          </form>
          <div class="social-auth-links text-center mb-3">
            <button
              @click="loginClick"
              class="bglogin-btn btn btn-block btn-success"
            >
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import md5 from "md5";
import { useTaskStore } from "@/stores/TaskStore";
import VueSweetalert2 from "vue-sweetalert2";
import Router from "@/router";

export default {
  name: "LoginPage",
  data() {
    return {
      Token: this.$cookies.get("token"),
      API: process.env.VUE_APP_API_URL,
      store: useTaskStore(),
      key: "",
      bil1: 1,
      bil2: 2,
      err: "",
      username: "",
      password: "",
    };
  },

  methods: {
    handleEnterKey(event) {
      // This method is called when the Enter key is pressed
      alert(event);
    },

    loginClick() {
      const dat = {
        UNAME: this.store.Username,
        PASSWD: md5(this.store.Password),
      };
      axios
        .post(this.API + "/getToken", dat, {
          headers: { "Content-Type": "multipart/form-data" },
        })
        .then((res) => {
          this.store.Token = this.$cookies.set(
            "token",
            res.data.response,
            "1d"
          );
          const config = {
            headers: {
              Authorization: "Bearer " + this.$cookies.get("token"),
              "Content-Type": "multipart/form-data",
            },
          };
          axios
            .get(
              `${this.API}/api/1.0/workflow/extrarest/v1/s/dataKaryawan2/${dat.UNAME}/${dat.PASSWD}`,
              config
            )
            .then((response) => {
              
              this.$cookies.set("user", response.data.response[0], "1d");
              this.$cookies.set("idcabang", response.data.response[0].id_cabang, "1d");
              this.$cookies.set(
                "jabatan",
                response.data.response[0].id_jabatan,
                "1d"
              );
              if (this.$cookies.get("jabatan") === "1") {
                Router.push("/mainutama");
              } else if (this.$cookies.get("jabatan") === "58") {
                Router.push("/main");
              } else {
                this.passworderr = "Not Allow to Access";
              }
              setTimeout(() => {
                  window.location.reload();
                }, 10);
            })
            .catch((err) => {
              console.log(err);
              this.store.passworderr = "Password Salah";
            });
        })
        .catch((e) => {
          this.store.passworderr = "User Not Found";
          setTimeout(() => {
            this.store.passworderr = "";
          }, 3000);
        });
    },
  },
};
</script>
