<template>
  <footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="">Larissa</a>.</strong>
    Developed by Horus Technology
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 1.15</div>
  </footer>
</template>

<script>
export default {};
</script>

<style></style>
