<template>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- <Preloader></Preloader> -->
      <Navbar></Navbar>
      <SidebarSide></SidebarSide>
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid">
            <router-view></router-view>
          </div>
        </section>
      </div>

      <Footer></Footer>
      <ControlSidebar></ControlSidebar> 
    </div>
  </body>
</template>

<script>
import SidebarSide from "./SidebarTemp.vue";
import Navbar from "./NavbarTemp.vue";
import Footer from "./FooterTemp.vue";
import ControlSidebar from "./ControlSidebarTemp.vue";
import "../../../node_modules/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";
import "../../../node_modules/admin-lte/plugins/select2/css/select2.min.css";
import $ from "jquery";
import { useTaskStore } from "@/stores/TaskStore";

export default {
  name: "MainLayout",
  components: {
  
    Navbar,
    SidebarSide,
    Footer,
    ControlSidebar,
  },
  data() {
    return {
      store: useTaskStore(),
    };
  },

  methods: {
    initializeSelect2() {
      //Initialize Select2 Elements
      $(".select2").select2();

      //Initialize Select2 Elements
      $(".select2bs4").select2({
        theme: "bootstrap4",
      });
    },
    logout() {
      this.$cookies.keys().forEach((cookie) => this.$cookies.remove(cookie));
      this.$router.push("/");
    },
  },

 
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
</style>
