<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar_color elevation-4">
    <!-- Brand Logo -->
    <h6 class="brand-link">
      <img src="../../assets/images/laricircle.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: " />
      <span class="brand-text text-white">Larissa</span>
    </h6>

    <!-- Sidebar -->
    <div class="sidebar" style="height: 100%;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        <div class="image">
          <!-- <img src="../assets/img/avatar5.png" class="img-circle elevation-2" alt="User Image"> -->
        </div>
        <div class="info">
          <h6 class="d-block text-white text-center font-weight-bolder">Owner Cabang</h6>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header font-bold font-italic text-white ">List Grafik</li>
          <li class="nav-item">
            <router-link to="/cabangharian" class="nav-link text-white  space">
              <i class="nav-icon"></i>
              <p>Pendapatan Harian</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/cabangbulanan" class="nav-link text-white  space">
              <i class="nav-icon"></i>
              <p>Pendapatan Bulanan</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/topcabang" class="nav-link text-white  space">
              <i class="nav-icon"></i>
              <p>Top 10 Items</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/produkkosongcabang" class="nav-link text-white  space">
              <i class="nav-icon"></i>
              <p>Produk Kosong</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/jumlahtransaksicabang" class="nav-link text-white  space">
              <i class="nav-icon"></i>
              <p>Jumlah Transaksi Cabang</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/analisaprodukcabang" class="nav-link text-white  space">
              <i class="nav-icon"></i>
              <p>Analisa Produk</p>
            </router-link>
          </li>

          <li class="nav-header font-bold font-italic text-white">List Menu</li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <!-- <i class="fa fa-google-wallet" aria-hidden="true"></i> -->
              <p class="ml-2">
                Insentif
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/insentiftindakancabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Insentif Tindakan</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/insentiftindakanallcabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Insentif Semua Tindakan</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/insentifdoktercabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Insentif Dokter</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/insentifapotekercabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Insentif Apoteker</p>
                </router-link>
              </li>
              <!-- <li class="nav-item">
                <router-link to="/insentifcabangcabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Insentif Cabang</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/insentifjabatandoktercabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Insentif Jabatan Dokter</p>
                </router-link>
              </li> -->
            </ul>
          </li>
      
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <!-- <i class="fa fa-google-wallet" aria-hidden="true"></i> -->
              <p class="ml-2">
                Produk
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/stokprodukcabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Stok Produk</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/produkkosongcabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Produk Kosong</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link to="/historyprodukcabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>History Produk</p>
                </router-link>
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <router-link to="/testtalenta" class="nav-link text-white space">
              <i class="nav-icon"></i>
              <p>Developer Zone</p>
            </router-link>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";

export default {
  data() {
    return {
      store: useTaskStore(),
      id_cabang: this.$cookies.get("user").id_cabang,
    };
  },

  mounted() {
  },
};
</script>

<style></style>
