<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar_color elevation-4" style="height: 100%">
    <!-- Brand Logo -->
    <h6 class="brand-link">
      <img
        src="../../assets/images/laricircle.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: "
      />
      <span class="brand-text text-white">Larissa</span>
    </h6>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <!-- <img src="../assets/img/avatar5.png" class="img-circle elevation-2" alt="User Image"> -->
        </div>
        <div class="info">
          <h6 class="d-block text-white text-center font-weight-bolder">
            Owner Utama
          </h6>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-header font-bold font-italic text-white">
            List Grafik
          </li>
          <li class="nav-item">
            <router-link to="/cabangutama" class="nav-link text-white space">
              <i class="nav-icon"></i>
              <p>Grafik Pendapatan Harian</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link
              to="/cabangutamabulanan"
              class="nav-link text-white space"
            >
              <i class="nav-icon"></i>
              <p>Grafik Pendapatan Bulanan</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/toputama" class="nav-link text-white space">
              <i class="nav-icon"></i>
              <p>Top 10 Items</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/tambahcabang" class="nav-link text-white space">
              <i class="nav-icon"></i>
              <p>Tambah Akun Cabang</p>
            </router-link>
          </li>

          <li class="nav-item">
            <router-link
              to="/jumlahtransaksi"
              class="nav-link text-white space"
            >
              <i class="nav-icon"></i>
              <p>Grafik Jumlah Transaksi</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/analisaproduk" class="nav-link text-white space">
              <i class="nav-icon"></i>
              <p>Analisa Produk</p>
            </router-link>
          </li>
          <li class="nav-header font-bold font-italic text-white">List Menu</li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <!-- <i class="fa fa-google-wallet" aria-hidden="true"></i> -->
              <p class="ml-2">
                Voucher
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link
                  to="/penjualanvoucher"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Penjualan Voucher</p>
                </router-link>
              </li>        
             
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link
                  to="/pemakaianvoucher"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Pemakaian Voucher</p>
                </router-link>
              </li>        
             
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <!-- <i class="fa fa-google-wallet" aria-hidden="true"></i> -->
              <p class="ml-2">
                Insentif
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link
                  to="/insentiftindakan"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Insentif Tindakan</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  to="/insentiftindakanall"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Insentif Semua Tindakan</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  to="/insentifdokter"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Insentif Dokter</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  to="/insentifapoteker"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Insentif Apoteker</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  to="/insentifcabang"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Insentif Cabang</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  to="/insentifjabatandokter"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Insentif Jabatan Dokter</p>
                </router-link>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <!-- <i class="fa fa-google-wallet" aria-hidden="true"></i> -->
              <p class="ml-2">
                Versus
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link
                  to="/analisaprodukvs"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Analisa Produk Versus</p>
                </router-link>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <!-- <i class="fa fa-google-wallet" aria-hidden="true"></i> -->
              <p class="ml-2">
                Produk
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/stokproduk" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Stok Produk</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  to="/produkkosong"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>Produk Kosong</p>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  to="/historyproduk"
                  class="nav-link text-white space"
                >
                  <i class="nav-icon"></i>
                  <p>History Produk</p>
                </router-link>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <!-- <i class="fa fa-google-wallet" aria-hidden="true"></i> -->
              <p class="ml-2">
                Menu Analisa
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link to="/dashcabang" class="nav-link text-white space">
                  <i class="nav-icon"></i>
                  <p>Dashboard Cabang</p>
                </router-link>
              </li>
             
            </ul>
          </li>
          <!-- <li class="nav-item">
            <router-link to="/testtalenta" class="nav-link text-white space">
              <i class="nav-icon"></i>
              <p>Developer Zone</p>
            </router-link>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import { useTaskStore } from "@/stores/TaskStore";

export default {
  data() {
    return {
      store: useTaskStore(),
    };
  },


  mounted() {},
};
</script>

<style></style>
